$font-niramit:'Niramit',
sans-serif;
$font-poppins:'Poppins',
sans-serif;

$color-fffff: #ffffff;
$color-785afb: #785afb;
$color-c453f9: #c453f9;
$color-282331: #282331;
$color-8f58fa: #8f58fa;
$color-8f49f9: #8f49f9;
$color-a0f6d4: #a0f6d4;
$color-fdbbcc: #fdbbcc;
$color-f9cafb: #f9cafb;
$color-9de78a: #9de78a;
$color-f2e3ff: #f2e3ff;
$color-f0ffeb: #f0ffeb;
$color-efffeb: #efffeb;
$color-4ae4a8: #4ae4a8;
$color-b3fbde: #b3fbde;
$color-ffaaf6: #ffaaf6;
$color-ffdffc: #ffdffc;
$color-382c4d: #382c4d;
$color-ffe1f1: #ffe1f1;
$color-ffdffc: #ffdffc;
$color-e2fcf4: #e2fcf4;
$color-ddd9ff: #ddd9ff;
$color-faffcf: #faffcf;
$color-ffeedb: #ffeedb;
$color-ffdeda: #ffdeda;
$color-f1e8ff: #f1e8ff;
$color-f2e3ff: #f2e3ff;
$color-ead8ef: #ead8ef;
$color-39436f: #39436f;
$color-ff846e: #ff846e;
$color-bd91ff: #bd91ff;
$color-9a9a9a: #9a9a9a;
$color-c7a2fe: #c7a2fe;


// $color-f0ffeb: #f9d5b9;
$color-deve: rgba(157, 144, 254, 0.35);
$color-buss: rgba(192, 251, 235, 0.35);
$color-crea: rgba(255, 180, 250, 0.35);
$color-inter: rgba(250, 207, 229, 0.35);
$color-35-cb: rgba(203, 203, 203, 0.35);
$color-35-f9: rgba(249, 213, 185, 0.35);
$color-35: rgba(253, 187, 203, 0.35);
$color-35-2: rgba(215, 215, 215, 0.35);
$color-35-cre: rgba(164, 109, 253, 0.35);
$color-35-pix: rgba(155, 241, 207, 0.35);
$color-35-faci: rgba(218, 249, 210, 0.35);
$color-75-e: rgba(238, 228, 253, 0.75);
$color-ad-35: rgba(173, 157, 251, 0.35);
$color-da-35: rgba(218, 221, 254, 0.35);
$color-d8-35: rgba(216, 216, 216, 0.35);
$color-b7-35: rgba(183, 150, 233, 0.35);