@import "../variable/variable";
@import "../mixin/mixin";

#archive {
    padding: 132px 0px;

    .archive-item {
        background: url(../images/achive-banner.png);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        gap: 40px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -55px;
            width: 100%;
            height: 100%;
            background: url(../../images/archive-banner-img.png);
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(-8deg);
        }

        .item-1 {
            .customer {
                @include archive-circle;
                background: $color-a0f6d4;
                padding: 60px 30px 58px;
                text-align: center;

                h2 {
                    @include archive-circle-text;
                    display: block;
                }

                span {
                    color: $color-fffff;
                    font-size: 55px;
                    line-height: 55px;
                    padding-left: 5px;
                    font-family: $font-niramit;
                    font-weight: 700;
                }

                h3 {
                    color: $color-fffff;
                    font-size: 55px;
                    line-height: 55px;
                    margin-left: -5px;
                    font-family: $font-niramit;
                    font-weight: 400;
                    display: inline;
                    padding-left: 5px;
                }
            }

            .invest {
                @include archive-circle;
                background: $color-fdbbcc;
                margin-top: 40px;
                padding: 63px 52px;

                h2 {
                    @include archive-circle-text;

                    p {
                        font-family: $font-niramit;
                        font-weight: 700;
                        font-size: 30px;
                        color: $color-fffff;
                        line-height: 36px;
                        text-transform: capitalize;
                        text-align: center;
                    }

                    span {
                        font-size: 55px;
                        line-height: 75px;
                        margin: 0px -8px 0px;
                    }
                }
            }
        }

        .item-2 {
            padding-top: 119px;

            .client {
                @include archive-circle;
                background: $color-f9cafb;
                padding: 70px 44px 50px;

                h2 {
                    @include archive-circle-text;

                    p {
                        font-size: 28px;
                        color: $color-fffff;

                        span {
                            color: $color-fffff;
                            font-size: 55px;
                            line-height: 75px;

                            &:nth-child(2) {
                                font-size: 28px;
                                margin-left: -5px;
                            }
                        }
                    }
                }
            }

            .project {
                @include archive-circle;
                background: $color-9de78a;
                margin-top: 40px;
                padding: 70px 44px 50px;

                h2 {
                    @include archive-circle-text;

                    p {
                        font-family: $font-niramit;
                        font-weight: 700;
                        font-size: 30px;
                        color: $color-fffff;
                        line-height: 36px;
                        text-transform: capitalize;
                        text-align: center;

                        span {
                            font-size: 55px;
                            font-family: $font-niramit;
                            font-weight: 700;
                            color: $color-fffff;
                            line-height: 75px;

                            &:nth-child(2) {
                                font-family: $font-poppins;
                                font-weight: 400;
                                font-size: 28px;
                                margin-left: -5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .archive-info {
        h4 {
            font-family: $font-niramit;
            font-weight: 700;
            color: $color-8f49f9;
            font-weight: 18px;
            padding-bottom: 42px;
        }

        h3 {
            font-family: $font-niramit;
            font-weight: 400;
            font-size: 52px;
            color: $color-282331;
            line-height: 62px;
            margin-right: -15px;
            padding-bottom: 40px;
        }

        p {
            font-family: $font-niramit;
            font-weight: 400;
            font-size: 20px;
            line-height: 31px;
            color: $color-282331;
            padding-bottom: 68px;
        }

        .collab {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-family: $font-niramit;
                font-weight: 700;
                line-height: 36px;
                color: $color-282331;
                font-size: 18px;
                text-transform: uppercase;

                span {
                    color: $color-8f49f9;
                }
            }
        }

        a {
            @include all-com-btn;
        }
    }
}