@import "../variable/variable";
@import "../mixin/mixin";


@font-face {
    font-family: 'larke';
    src: url(../fonts/larke-sans-bold.ttf);
}

.navbar {
    margin: 0;
    padding: 0;
    padding-top: 78px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    .navbar-brand {
        font-size: 55px;
        text-transform: capitalize;
        color: $color-fffff;
        margin: 0;
        padding: 0;
        font-family: "larke";
    }

    .navbar-nav {
        padding-top: 7px;
        padding-left: 245px;

        .nav-item {
            padding-right: 53px;

            &:last-child {
                padding-right: 0px;
            }

            .nav-link {
                font-size: 22px;
                font-family: $font-niramit;
                font-weight: 400;
                text-transform: capitalize;
                color: $color-fffff;
                padding: 0;
                margin: 0;
            }
        }
    }

    .nav-item-2 {
        padding-left: 6px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 37px;

        p {
            font-family: $font-poppins;
            font-weight: 400;
            font-size: 14px;
            color: $color-282331;
            background: $color-fffff;
            padding: 1px 0px 0px 7px;
            border-radius: 50%;
            position: absolute;
            height: 22px;
            width: 22px;
            top: -6px;
            left: 28px;
        }

        span {
            padding-top: 5px;

            svg {
                color: $color-fffff;
                font-size: 25px;
            }
        }
    }

}